dash-design-kit>=1.6.7
dash>=2.9.1
gunicorn>=20.0.4
numpy>=1.19.5
pandas>=1.1.4
colorcet
datashader
pyproj
redis
kaleido
packaging
dash_mantine_components
dash-ag-grid
SQLAlchemy==1.3.20
pg8000==1.16.5
celery==4.4.7
diskcache
psutil
multiprocess
git+https://github.com/noaaroland/sdig.git